.posts {                  /*   .index .main   */
    padding-top:30px;
    padding-right:0
}

.posts ul {
    position:relative;
    width:100%;
    margin:0 0 17px;
    padding:0 2px 17px 0;
    border-bottom:1px solid #f0f0f0;
    word-wrap:break-word
}

.posts .avatar {
    position: absolute;
}

.posts .content .cancel{
    display:none
}

.posts .content:hover .cancel{
    display:inline
}

.posts .author{
    margin-bottom:14px;
    font-size:13px
}

.posts .author-restyle{
margin-bottom:0
}

.posts .author .avatar{
margin:0 5px 0 0
}

.posts .author .info{
    position:relative;
    left: 30px
}

.posts .author .avatar,.posts .author .info{
display:inline-block;
vertical-align:middle
}

.posts .author .info .nickname{
vertical-align:middle
}



.posts .author .info .badge-icon{
width:15px;
height:15px
}

.posts .author .info span{
display:inline-block;
padding-left:3px;
color:#969696;
vertical-align:middle
}

.posts .author a{
color:#333
}

.posts .author a:hover{
color:#2f2f2f
}

.posts .author .time{
color:#969696
}

.posts .title{
    margin:-7px 0 4px;
    display:inherit;
    font-size:18px;
    font-weight:700;
    line-height:1.5
}

.posts .title:hover{
    text-decoration:underline
}

.posts .title:visited{
    color:#969696
}

.posts .title:empty:before{
    content:"\65E0\9898"
}






div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-abstract h1 {
    font-size: 140%;
}
.post-abstract h2 {
    font-size: 130%;
}
.post-abstract h3 {
    font-size: 120%;
}
