<ul class="posts">
    {% for post in posts%}
    <ul class="post">
        <div class="content">
            <div class="author">
                <a class="avatar" targer="_blank" href={{ url_for('.user', username=post.author.username) }}>  <!-- 头像 -->
                    <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=20) }}" alt="64" />
                </a>
                <div class="info">  <!--昵称/时间-->
                    <a class="nickname" target="_blank" href={{ url_for('.user', username=post.author.username) }}>{{ post.author.username }}</a>
                    <span class="time" data-shared-at="{{ moment(post.timestamp) }}"></span>   <!-- 时间 -->
                </div>
            </div>

            <a class="title" target="_blank" href={{ url_for('.post', id=post.id) }}>{{ post.title }}</a>

            <p class="abstract" target="_blank" href={{ url_for('.post', id=post.id) }}>
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </p>

            <div class="meta">
                <a target="_blank" href=""><i class=""></i>{{ 0 }}</a>   <!--浏览量-->
                <a target="_blank" href=""><i class="iconfont ic-list-comments"></i>{{ post.comments.count() }}</a>   <!--评论量-->
                <span><i class="iconfont ic-list-like"></i>{{ 0 }}</span>  <!--喜欢-->
            </div>
        </div>
    </ul>
    {% endfor %}
</ul>